# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore Git files and folders
.git
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test or temp files
*.swp
*.bak
*.tmp
